/***********************************************************************************************/
/* Menu superior */
.navbar {
    height: 30px;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-link {
    font-size: 14px !important;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row !important;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sticky-top {
    position: fixed;
    right: 0;
    left: 0;
}

@media screen and (max-width: 680px) {
    .labelShow {
        display: none;
    }
}
/***********************************************************************************************/
/* BODY */
body {
    font-family: FreeMono, monospace !important;
    line-height: 1.4 !important;

    background-image: radial-gradient(rgb(189, 189, 189), rgb(72, 98, 136));
    background-size: 100% 200vh;
}

.comandosSQL {
    overflow-x: auto;
    white-space:nowrap;

    background-color: rgba(33,37,41,0.9)!important;

    position:fixed;
	top: 30px;
	width: 100%;

    font-size: 14px;
    text-align:center;
    align-items: center;
}

.modulo {
    margin-top: 4vh; 
    color: aliceblue;
}

a {
    padding-left: 1vh !important;
    padding-right: 1vh !important;
}