/***********************************************************************************************/
/* Menu superior */
.navbar {
    height: 30px;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-link {
    font-size: 14px !important;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row !important;
}

/***********************************************************************************************/
/* BODY */
body {
    font-family: FreeMono, monospace !important;
    line-height: 1.4 !important;

    background-image: radial-gradient(rgb(0, 0, 0), rgb(31, 48, 73));
    background-size: 100% 150vh;
}

.textoApresentativo {
    text-align: center; 
    color: aliceblue; 
    margin-top: 7px;
}

.options {
    position: absolute;
    width: 7% !important;
    height: 70%;
    left: 51.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.labelShow{
    font-size: 1vw !important;
}

select{
    border-radius: 8px;
    padding: 2px;
    width: 7vw !important;
    font-size: 1vw !important;
}

.btn {
    text-align: center;
    color: aliceblue !important; 
    font-size: 12px !important;
    margin: 5px;
}

/***********************************************************************************************/
/* Workspace e seus adicionais*/
#blocklyDiv {
    height: 70%;
    width: 50%;

    border-radius: 8px;
    box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.5);

    position: absolute;
    left: 1%;
}

/***********************************************************************************************/
/* Código e seus adicionais*/
#Codigo {
    font-family: Consolas, monaco, monospace !important;
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
    padding: 5px;
    
    height: 70%;
    width: 40%;

    position: absolute;
    right: 1%;

    overflow: auto;
}

.codigoLigthTheme {
    background-color: rgb(230, 230, 230);
    color: black;
}

.codigoDarkTheme {
    background-color: rgb(25, 25, 25);
    color: aliceblue;
}

/***********************************************************************************************/
/* Apresentação do Select*/
#divSelect {
    text-align: center;
    position: absolute;
    bottom: 15%;
    width: 100% !important;
}

#tabela {
    text-align: center;
    overflow-y: auto;
    overflow-x: auto;
    white-space:nowrap;
    
    width: 95% !important;
    max-height: 50vh;

    position: absolute;
    top: 85%;
    left: 2.5%;
}

/***********************************************************************************************/
/* Alertas */
#alerta1 {
    position: fixed !important; 
    bottom: 5px; 
    right: 10px; 
    z-index:9999; 

    text-align: justify; 
    text-justify: inter-word;
}

#alerta2 {
    position: fixed !important; 
    bottom: 5px; 
    right: 10px;
    z-index:9999; 

    text-align: justify; 
    text-justify: inter-word;
}

#alerta3 {
    position: fixed !important; 
    z-index:9999; 
    
    text-align: justify; 
    text-justify: inter-word;
 
    top: 35px;
    right: 1%;
}

/***********************************************************************************************/ 
/*PERSONALIZAÇÃO Blockly*/
:root {
    --fill: rgb(230, 230, 230);
}

.blocklyMainBackground {
    fill: var(--fill) !important;
}

.blocklySvg, .geras-renderer.classic-theme{
    border-radius: 8px;
}

.blocklyTreeLabel{
    font-size: 10px;
}

.blocklyToolboxCategory {
    padding: .5em;
}

.blocklyTreeRow {
    border-radius: 4px;
}

.blocklyToolboxDiv {
    background-image: radial-gradient(rgba(45, 45, 45, 0.8), rgb(45, 45, 45));
    color: aliceblue;
}

.blocklyFlyoutBackground{
    fill: rgb(45, 45, 45);
    color: aliceblue;
}

.geras-renderer.classic-theme .blocklyFlyoutLabelText {
    fill: aliceblue;
}

/***********************************************************************************************/ 
/*SCROLLBARS*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0);  
    border: solid 4px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: solid 4px transparent;
    background: rgb(205, 205, 205);
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(180, 180, 180); 
}

/******************************************************************************************************************************************************************** */
/*CORES CÓDIGO*/
.color_create_db{
    color: rgb(91, 165, 91);
}

.color_create_table{
    color: rgb(81, 99, 155);
}

.color_var{
    color: rgb(67, 190, 199);
}

.color_insert{
    color: rgb(147, 91, 165);
}

.color_update{
    color: rgb(165, 165, 91);
}

.color_alter_table{
    color: rgb(165, 128, 91);
}

.color_delete_from{
    color: rgb(165, 91, 91);
}

.color_drop_table{
    color: rgb(165, 91, 109);
}

.color_select{
    color: rgb(91, 165, 147);
}

/******************************************************************************************************************************************************************** */