/***********************************************************************************************/
/* Menu superior */
.navbar {
    height: 30px;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-link {
    font-size: 14px !important;
}

.navbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row !important;
}

@media screen and (max-width: 550px) {
    .labelShow {
        display: none;
    }
}

/***********************************************************************************************/
/* Body */
body {
    font-family: FreeMono, monospace !important;
    color: aliceblue;
    line-height: 1.4 !important;

    background-image: radial-gradient(rgb(0, 0, 0), rgb(31, 48, 73));
    background-size: 100% 150vh;
}

.textoApresentativo {
    justify-content: center;
    text-align: center; 
    color: aliceblue; 
    margin-bottom: 10px; 
    margin-top: 10px;
}

.color {
    color: aliceblue !important;
}

/***********************************************************************************************/
/* Cards */
.card{
    margin-top: 20px;
}

.card-header {
    color: aliceblue;
    background-color: rgba(0,0,0,.5) !important;
}

@media screen and (max-width: 320px) {
    .card-text {
        font-size: 4vw;
    }
}

.card-text {
    color: aliceblue;
    text-align: justify; 
    text-justify: inter-word;
}

button {
    margin: 0.5vh !important;
}